<launch>
	<arg name="dev" default="/dev/input/js0" />
    <arg name="deadzone" default="0.05" />
	<node pkg="joy" type="joy_node" name="joystick">
		<param name="dev" value="$(arg dev)" />
		<param name="deadzone" value="$(arg deadzone)" />		
	</node>

    <node pkg="zeabus_teleop" type="joy_map.py" name="zeabus_joy" output="screen"/>
</launch>